@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffff;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.ql-container {
    border:none !important;
}

.ql-toolbar {
    border:none !important;
}

.ql-editor {
    border:none !important;
}